body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  background: url('../images/home.jpg');
  min-height: 100vh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

footer {
  color: white;

  a {
    color: white;
  }
}