.home__body {
  background: url('../images/home.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-light;
  display: flex;
  flex-direction: column;
  font-family: $font-family-sans-serif;
  hyphens: auto;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.home__main {
  align-items: center;
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.footer,
.footer__link {
  color: $color-light;
}

.home__dragon {
  width: 33vw;
}

.home__title {
  text-align: center;
}

.home__cast,
.home__play {
  background-color: rgba(250, 6, 6, 0.8);
  border-radius: 10px;
  font-size: 0.8rem;
  margin: -1rem;
  padding: 1rem;
}

// GRID magic ;)

@supports (display: grid) {
  .home__body {
    display: grid;
    grid-template-rows: fit-content(80px) auto fit-content(80px);
  }

  .home__main > * {
    margin-bottom: 2rem !important;
  }
  // Per a la responsivitat he decidit fer media query en lloc de
  // grid-auto-rows i grid-auto-columns per que em dona més precisió alhora 
  // d'ubicar elements al grid
  @media (min-width: 600px) {
    .home__main {
      display: grid;
      grid-gap: 2vw;
      grid-template-columns: repeat(5, 16vw);
    }
  }

  .home__dragon {
    grid-column: 2/5;
    grid-row: 1/2;
  }

  .home__title {
    grid-column: 2/5;
    grid-row: 2/3;
  }

  .home__cast {
    grid-column: 4/6;
    grid-row: 3/4;
  }

  .home__play {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
