.footer {
  font-size: 0.8rem;
}

.footer__paragraph {
  padding: 1rem;
}

.title {
  font-family: $font-family-serif;
}

a {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-transform: uppercase;
  transition: 0.5s;

  :hover {
    color: $color-light;
    text-decoration-color: $color-light;
  }
}

.footer__navbar {
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
