footer {
  font-size: 0.8rem;
}

a {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.5s;
}

a:hover {
  text-decoration-color: white;
}