@use 'sass:color';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-serif: 'Lobster Two', cursive;

$main-color: #bd011f;
$main-color-light: lighten($main-color, 10%);

$theme-colors: (
  'primary': $main-color
);

$color-light: #fff;
$overlay-black: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
